aiofiles==0.4.0
certifi==2020.4.5.1
chardet==3.0.4
contextvars==2.4; python_version < "3.7"
first==2.0.2
h11==0.8.1
h2==3.2.0
hh==2.0.0
hpack==3.0.0
hstspreload==2020.4.7
httptools==0.1.1
httpx==0.9.3
hyperframe==5.2.0
idna==2.9
immutables==0.11; python_version < "3.7"
importlib-metadata==1.6.0
marshmallow==3.5.1
multidict==4.7.5
mypy-extensions==0.4.3
orjson==2.6.3; python_version >= "3.7"
python-rapidjson==0.9.1; python_version ~= "3.6"
rfc3986==1.4.0
sanic==19.12.2
sanic-openapi==0.6.0
single-version==1.1
sniffio==1.1.0
typed-argument-parser==1.4.1
typing-extensions==3.7.4.2
typing-inspect==0.5.0
ujson==2.0.3
uvloop==0.14.0; sys_platform != "win32" and implementation_name == "cpython" or sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
websockets==8.0.2
yarl==1.4.2
zipp==3.1.0
