
[NoSuchOptionException]
The "--no-dev" option does not exist.

Traceback (most recent call last):
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/console_application.py", line 124, in run
    self, args, input_stream, output_stream, error_stream
  File "/home/quan/.poetry/lib/poetry/console/config/application_config.py", line 153, in create_io
    resolved_command = application.resolve_command(args)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/console_application.py", line 110, in resolve_command
    return self._config.command_resolver.resolve(args, self)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/resolver/default_resolver.py", line 34, in resolve
    return self.create_resolved_command(result)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/resolver/default_resolver.py", line 166, in create_resolved_command
    if not result.is_parsable():
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/resolver/resolve_result.py", line 43, in is_parsable
    self._parse()
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/resolver/resolve_result.py", line 49, in _parse
    self._parsed_args = self._command.parse(self._raw_args)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/api/command/command.py", line 113, in parse
    return self._config.args_parser.parse(args, self._args_format, lenient)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/args/default_args_parser.py", line 53, in parse
    self._parse(args, _fmt, lenient)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/args/default_args_parser.py", line 101, in _parse
    self._parse_long_option(token, tokens, fmt, lenient)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/args/default_args_parser.py", line 247, in _parse_long_option
    self._add_long_option(name, None, tokens, fmt, lenient)
  File "/home/quan/.poetry/lib/poetry/_vendor/py3.7/clikit/args/default_args_parser.py", line 300, in _add_long_option
    raise NoSuchOptionException(name)

