dataclasses==0.8; python_version >= "3.6" and python_version < "3.7" and python_full_version >= "3.6.1"
first==2.0.2
http-constants==0.4.0; python_full_version >= "3.6.0"
idna==3.2; python_version >= "3.6"
importlib-metadata==2.1.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_version >= "3.6" and python_version < "3.8" and python_full_version >= "3.5.0"
kiss-headers==2.3.0; python_full_version >= "3.6.0"
logbook==1.5.3
multidict==4.7.6; python_version >= "3.5"
mypy-extensions==0.4.3
orjson==2.6.8; python_version >= "3.7"
pydantic==1.8.2; python_full_version >= "3.6.1"
python-rapidjson==0.9.4; python_version ~= "3.6"
single-version==1.5.1; python_version >= "3.6" and python_version < "4.0"
typed-argument-parser==1.6.2
typing-extensions==3.7.4.3; python_version < "3.8" and python_version >= "3.6" and python_full_version >= "3.6.1"
typing-inspect==0.7.0
yarl==1.6.3; python_version >= "3.6"
zipp==3.4.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_version >= "3.6" and python_version < "3.8" and python_full_version >= "3.5.0"
